language: node_js

cache:
  yarn: true
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - '10'

install:
  - yarn

script:
  - yarn build
  - yarn lint
  - yarn test:e2e:ci

branches:
  only:
    - master
    - '/^greenkeeper/.*$/'
